.about-container {
  display: flex;
  flex-direction: column;
}

.about-content {
  &__title {
    font-size: xx-large;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  &__description {
    font-size: x-large;
    font-weight: bold;
    padding: 0;
    margin-top: 0.5rem;
  }
}

.common-display {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.4rem;
}

.information-container {
  display: flex;
  flex-direction: column;
}

.location-container,
.email-container,
.phone-container {
  @extend .common-display;
}

.linkedin-container {
  @extend .common-display;
  align-items: center;
  text-decoration: none;
}
