.about-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.about-content {
  &__title {
    font-size: xx-large;
    font-weight: bold;
  }
  &__description {
    font-size: x-large;
    font-weight: bold;
  }
}
